node_modules
.nuxt
.output
.cache
dist
npm-debug.log
.env.local
.env.*.local
coverage
.nyc_output
.parcel-cache
.next
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.DS_Store
*.log
*.tgz
*.tar.gz