// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #181d27;
$secondary: #1e2431;
$secondary-hover: #2d3549;
$accent: #3a78ed;
$accent-hover: #265acc;
$accent-disabled: #7086b0;
$accent-secondary: #7fffd4;
$text-medium: #aab3ca;
$text: #ffffff;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #33cc66;
$negative: #e93d66;
$info: #31ccec;
$warning: #f2c037;
